<!DOCTYPE html>
<html lang="en">



<body>
    <%- include('header') -%>
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <hr class="my-4">
        <div class="container">
            <p>Please Login/SignUp to Poll</p>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>