<%- include('header') -%>
<div class="container">
    <div class="col col-md-6 align-self-center">
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                    autocomplete="off" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                    placeholder="Password">
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" name="cpassword" id="cpassword" autocomplete="off"
                    placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <% if (status) { %>
        <p><%= status %></p>
        <% } %>
        <a href="/login" class="btn btn-success">Login</a>
    </div>
</div>